<div>
  Welcome, <%= @user.email %>
</br>
  Began: <%= @user.created_at.strftime("%m/%d/%Y")  %>
</div>
</br>
<%= link_to "My Libraries!", user_libraries_path(@user) %>
</br>
</br>
<%= button_to "Delete Profile", @user, method: :delete, :data => {:confirm => 'Are you sure?'} %>
