<p><h3> Library Name:</h3> <%= @library.name %></p>
<p><h3> Floor Count:</h3> <%= @library.floor_count %></p>
<p><h3> Floor Area: </h3> <%= @library.floor_area %> </p>

<%= link_to "View ALL Libraries", libraries_path %>
